html {
  --main-width: clamp(50%, 1000px, 100%);
  --bg-1: #ffffff;
  --bg-2: #e6e6e6;
  --bg-3: #cccccc;
  --text: #303030;
  --icon: #505050;
  --icon-hover: #909090;
  scrollbar-color: #00000060 transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    --bg-1: #262626;
    --bg-2: #404040;
    --bg-3: #494949;
    --text: #e6e6e6;
    --icon: #cccccc;
    --icon-hover: #ffffff;
    scrollbar-color: #ffffff60 transparent;
  }
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-1);
  font-size: 16px;
  font-family: 'Assistant', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > header {
  position: fixed;
  width:  100%;
  height: 40px;
  padding-left:  1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-2);
  border-bottom: 1px var(--bg-3) solid;
  color: var(--text);
  z-index: 1;

  > * {
    margin: 0;
  }

  > h1 {
    font-size: inherit;
  }
}

main {
  width: clamp(75%, 1200px, 100%);
  height: 600px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows:    auto 1fr 1fr;
  grid-template-areas:
    'title title title'
    'player buttons transcript'
    'player volume transcript';
  padding-top:    calc(1em + 60px);
  padding-bottom: 1rem;
  padding-left:  3rem;
  padding-right: 3rem;
  column-gap: 1rem;
  row-gap:    1rem;
  
  > h2 {
    grid-area: title;
    margin: 0;
    color: var(--text);
  }
}
html:has(#collapseTranscript:checked) {
  main {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'title title'
      'player buttons'
      'player volume';
  }
}
html:has(#collapsePlayer:checked) {
  main {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'title title'
      'buttons transcript'
      'volume transcript';
  }
}
@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr auto;
    grid-template-rows:    auto auto 1fr;
    grid-template-areas:
      'title title'
      'player volume'
      'transcript buttons';
  }
  html:has(#collapseTranscript:checked) {
    main {
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
        'title title'
        'player volume'
        'player buttons';
    }
  }
  html:has(#collapsePlayer:checked) {
    main {
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
        'title title'
        'transcript volume'
        'transcript buttons';
    }
  }
}

.player-box {
  grid-area: player;
  position: relative;
  height: fit-content;
  background-color: var(--bg-2);
  border: 1px var(--bg-3) solid;
  border-radius: 8px;
  color: var(--text);
  overflow: hidden;
}

.player {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--bg-1);
  outline: 1px var(--bg-3) solid;
  display: flex;
  justify-content: center;

  > img {
    height: 100%;
  }
}
html:has(#collapsePlayer:checked) {
  .player-box {
    display: none;
  }
}

html:not(:has(#toggleVideo:checked)) {
  .cover {
    display: none;
  }
}

.player-controls {
  width:  100%;
  height: 40px;
  display: flex;
}

.captions {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #00000080;
  color: white;
  font-size: 1.2em;
}
html:has(#toggleCaptions:checked) {
  .captions {
    display: block;
  }
}
html:has(#toggleVideo:checked) {
  .captions {
    bottom: 50%;
    translate: 0 50%;
  }
}

#toggleCaptions {
  ~ i::after {
    content: 'closed_caption';
  }
  &:checked ~ i {
    font-variation-settings: 'FILL' 1;
  }
}

#toggleVideo {
  ~ i::after {
    content: 'movie_off';
  }
  &:checked ~ i {
    font-variation-settings: 'FILL' 1;
  }
}

.transcript-box {
  grid-area: transcript;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-2);
  border: 1px var(--bg-3) solid;
  border-radius: 8px;
  color: var(--text);
  overflow: hidden;
}
html:has(#collapseTranscript:checked) {
  .transcript-box {
    display: none;
  }
}

.transcript-box > header {
  width:  100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--bg-2);
  border-bottom: 1px var(--bg-3) solid;

  > * {
    margin: 0;
  }

  > h3 {
    flex: 1;
    /* text-align: center; */
    font-size: inherit;
  }
}

.transcript-box > section {
  padding: 1rem;
  overflow: auto;

  > :first-child {
    margin-top: 0;
  }

  p.bold {
    font-weight: bold;
  }
}

#syncTranscript {
  ~ i::after {
    content: 'arrow_circle_down';
  }
  &:checked ~ i {
    font-variation-settings: 'FILL' 1;
  }
}

#printTranscript {
  i::after {
    content: 'print';
  }
}

.layout-controls {
  grid-area: buttons;
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-1);
  border: 1px var(--bg-2) solid;
  border-radius: 8px;
}

#collapseTranscript {
  ~ i::after {
    content: 'right_panel_close';
  }
  &:checked ~ i {
    font-variation-settings: 'FILL' 1;
  }
}

#collapsePlayer {
  ~ i::after {
    content: 'left_panel_close';
  }
  &:checked ~ i {
    font-variation-settings: 'FILL' 1;
  }
}

.button {
  position: relative;
  width:  40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon);
  cursor: pointer;

  &:hover:not(:active),
  &:has(:focus-visible) {
    color: var(--icon-hover);
  }
  
  > i {
    font-size: 24px;
    pointer-events: none;
    user-select: none;
  }
  
  > input[type='checkbox'] {
    position: absolute;
    width:  100%;
    height: 100%;
  }
}

.volume {
  --volume: 50%;
  grid-area: volume;
  position: relative;
  width: 40px;
  background-color: var(--bg-1);
  border: 1px var(--bg-2) solid;
  border-radius: 8px;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width:  100%;
    height: var(--volume);
    background-color: lime;
  }
}

html:has(#collapseTranscript:checked) .button:has(#collapsePlayer),
html:has(#collapsePlayer:checked) .button:has(#collapseTranscript) {
  opacity: 0.2;
  filter: saturate(0);
  pointer-events: none;
  user-select: none;
}

@media print {
  body > :not(main),
  main > :not(.transcript-box),
  .transcript-box > :not(section) {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a, input[type='checkbox'] {
  all: unset;
  box-sizing: border-box;
}